  <footer>
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <span class="copyright">Copyright &copy; {{ site.title }} 2015</span><br />
                </div>
                <div class="col-md-4">
                    <ul class="list-inline social-buttons">
                        <li><img src="img/logos/igel_small.png" /></li>
                    </ul>
                </div>
                <div class="col-md-4">
                    <ul class="list-inline quicklinks">
                        <li><a href="#">Privacy Policy</a>
                        </li>
                        <li><a href="#">Terms of Use</a>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="row">
                <span class="copyright">We have attempted to use stock photos. But if we have used a copyrighted image, please notify us on the webmaster address immediately.</span>
            </div>
        </div>
    </footer>
