<!-- Clients Aside -->
<section id="sponsors">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                <h3 class="text-muted">Our sponsor:</h3>
                <div class="row text-muted text-center">
                        <a target="_blank" href="http://www.bikevienna.at/">
                            <img src="img/logos/trek_vienna.png" class="img-responsive img-centered" alt="">
                        </a>
                        <p class="large">High quality bike and bike equipment shop in Vienna.</p>
                </div>
                    <div class="row text-muted text-center">
                        <a target="_blank" href="http://www.teamsportmarketing.at/">
                            <img src="img/logos/teaspo.png" class="img-responsive img-centered" alt="">
                        </a>
                        <p class="large">Make your own design for jerseys and tri suits.</p>
                </div>
                </div>
                <div class="col-md-6">
                    <h3 class="text-muted">Links to websites we like:</h3>
                    <ul id="our-links" class="list-unstyled">
                        <li><a href="http://theoatmeal.com/">If you like this site, you'll fit in with our group!</a></li>
                        <li><a href="http://www.velominati.com/the-rules/">New to biking?  Read some of these rules from the Velominati!</a></li>
                        <li><a href="http://www.stevehoggbikefitting.com/ ">If it has to do with bike fitting, it is here!</a></li>
                        <li><a href="{{site.url}}/img/cycling_etiquette_and_bunch_riding_tips.pdf">A few useful riding rules we use</a> from the <a href="http://www.warringahtriathlonclub.com">Warringah Triathlon Club</a></li>
                    </ul>
                </div>
            </div>
        </div>
</section>
